

/* header */

.header{
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
}

/* --main-- */
/* name */

.name{
    grid-template-columns: 1fr 1fr;
}

.nameImage{
    width: 100%;
    max-width: 600px;
    display: flex;
    justify-self: end;
}

.covers{
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: 1fr;
    gap: 2rem;
}

/* info */

.info{
    max-width: 1100px;
    margin: 0 auto;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
}

.knowledge{
    position: relative;
}

.tecnologies{
    margin: 0 auto;
    width: 95%;
    position: absolute;
    bottom: 0;
}

.tecnologies__title:hover{
    background: var(--active);
    transform: scale(1.1);
}

/* contact */

.contact__title{
    font-size: 2.8rem;
}

/* page */

.pages__title{
    font-size: 2.8rem;
}

.card{
    width: 420px;
    height: 262.5px;
    margin-bottom: 2rem;
}

.card--extra{
    width: 320px;
    height: 200px;
}

/* shadow */

.shadow--menu{
    right: 1rem;
    bottom: 1rem;
    width: 27rem;
    height: 30rem;
}
