/* --colors-- */
:root {
  --same: #303030;
  --text: #fff;
  --background: linear-gradient(#3d3d3d, #2a2a2a, #0f0f0f);
  --bg1: #3d3d3d;
  --bg2: #2a2a2a;
  --bg3: #0f0f0f;
  --gray: #4e4e4e;
  --gray2: #777;
  --link: #c28127;
  --red: #c24f77;
  --help: #c2a83e;
  --active: #464bc2;
  --active2: #4584c2;
}

/* --globals-- */
html {
  /* small: 60% */
  /* medium: 90% */
  /* big: 130% */
  font-size: 90%;
  font-family: "Roboto slab", "Times New Roman", sans-serif;
  color: var(--text);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}

.container {
  margin: 0 0.5rem;
}

p,
a,
li {
  font-family: quicksand, "Roboto slab", arial, sans-serif;
  font-weight: 300;
}

body {
  background: linear-gradient(var(--bg1), var(--bg2), var(--bg3));
  overflow-x: hidden;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--text);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.link {
  color: var(--link);
  font-size: 1.6rem;
  font-weight: bold;
}

.title {
  text-align: center;
  font-size: 2rem;
}

.title__small {
  text-align: center;
  font-size: 1.6rem;
}

.text {
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 0.5rem;
}

.button {
  font-size: 1.5rem;
  border-radius: 0.5rem;
  background-color: var(--active);
  color: var(--text);
  border: solid 1px var(--text);
  display: flex;
  gap: 1rem;
  align-items: center;
  cursor: pointer;
}

.button.small {
  justify-content: center;
  min-width: 30%;
  max-width: 50%;
  height: 3rem;
}

.button.long {
  padding: 0.5rem;
  width: 100%;
  background-color: var(--bg2);
  border: none;
  justify-content: start;
}

.button.active {
  border: solid 1px var(--active);
  background-color: var(--bg1);
}

@media screen and (min-width: 900px) {
  .title {
    font-size: 4rem;
  }

  .title__small {
    font-size: 2.8rem;
  }
}

/* divisor */
.divisor {
  margin-bottom: 1.5rem;
  height: 2rem;
  width: 100%;
  margin: 2rem auto;
  background-image: repeating-linear-gradient(-35deg, transparent 60px, transparent 80px, var(--text) 80px, var(--text) 85px);
  animation: charging 3s linear infinite;
  background-size: calc(100% + 85px);
}

@keyframes charging {
  from {
    background-position: 0% 50%;
  }

  to {
    background-position: 50% 100%;
  }
}

/* icons and images */
img {
  width: 100%;
}

.small__icons {
  display: block;
  width: 2rem;
  height: 2rem;
  max-height: 3rem;
}

.icons__medium {
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-self: center;
}

/* header */
.header {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  height: 6rem;
}

.nav__title {
  font-size: 1.5rem;
}

.nav__icons {
  display: flex;
  gap: 0.5rem;
}

/* presentation Home content */

.presentation {
  display: grid;
  grid-template-rows: 7fr 2fr;
  height: calc(100vh - 10rem);
  margin-bottom: 0.5rem;
  align-items: center;
}

.presentation__cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: max-content;
  gap: 0.5rem;
  margin: 1rem 0;
}

.mini__card {
  display: block;
  height: 25vw;
  width: 45vw;
  margin: 0 auto;
  border-radius: 0.5rem;
  overflow: hidden;
}

@media screen and (min-width: 900px) {
  .presentation {
    grid-template-columns: 1fr 1fr;
  }

  .presentation__cards {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
    height: max-content;
    gap: 1.5rem;
  }

  .mini__card {
    width: 24rem;
    height: 14rem;
  }
}

/* info */
.info {
  background: linear-gradient(90deg, var(--gray), var(--gray2));
  background-size: 200%;
  margin: 0.5rem;
  margin-bottom: 1.5rem;
  padding: 1.5rem 0.5rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  animation: on_of 5s infinite;
}

.info.alternative {
  background: linear-gradient(90deg, var(--active), var(--active2));
}

.info__title {
  font-size: 2.2rem;
  text-align: center;
  margin-bottom: 0.8rem;
}

.tecnologies {
  display: flex;
  justify-content: space-around;
  font-size: 1.2rem;
  margin-top: 2rem;
}

.tecnologies__title {
  background-color: var(--link);
  border-radius: 1rem;
  cursor: pointer;
  display: flex;
  text-align: center;
  align-items: center;
  padding: 2%;
}

.info__list {
  font-weight: bold;
  font-size: 1.8rem;
}

@keyframes on_of {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@media screen and (min-width: 900px) {
  .personal {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .tecnologies__title {
    padding: 4%;
  }
}

/* cards */
.cards {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 2rem 0.5rem;
  align-items: center;
}

.card {
  display: grid;
  grid-template-columns: 6fr 1fr;
  margin: 0 auto;
  height: min-content;
}

.card__img {
  border-radius: 1rem 0 0 1rem;
  overflow: hidden;
}

.card__tecnologies {
  width: max-content;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: var(--bg2);
  border-radius: 0 0.5rem 0.5rem 0;
  padding: 0 1rem;
}

@media screen and (min-width: 900px) {
  .cards {
    flex-direction: row;
    margin: 0 auto;
  }
}

/* more */
.more {
  display: flex;
  justify-content: space-around;
}

.footer {
  padding: 1rem;
  background-color: var(--gray);
  border-radius: 0.5rem 0.5rem 0 0;
  text-align: center;
  margin-top: 2rem;
  padding-bottom: 3rem;
}

/* config popup*/
.options {
  display: block;
  position: fixed;
  bottom: 0.5rem;
  right: 0.5rem;
  width: 3.5rem;
  height: 3.5rem;
  background-image: url("/public/icons/dark/menu.svg");
  background-size: cover;
}

.popup {
  top: 15vh;
  right: 5vw;
  display: block;
  position: fixed;
  width: 90vw;
  height: max-content;
  max-height: 70vh;
  background-color: var(--bg1);
  border-radius: 1rem;
  padding: 0 1rem 2rem 1rem;
  border-top: 1rem solid var(--bg1);
  overflow: scroll;
  z-index: 100;
  transition: 0.5s all;
}

.popup .title {
  position: sticky;
  top: 0;
  padding-bottom: 1rem;
  background-color: var(--bg1);
}

.popup .title__small {
  margin-bottom: 0.5rem;
}

.config__options {
  display: flex;
  margin-bottom: 1rem;
  justify-content: space-around;
}

/* more popups */
.popup__list {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.popup .low,
.small__icons.low {
  border-bottom: solid 3px var(--red);
  height: 3.5rem;
}

.popup .medium,
.small__icons.medium {
  border-bottom: solid 3px var(--help);
  height: 4rem;
}

.popup .high,
.small__icons.high {
  border-bottom: solid 3px var(--active);
  height: 5rem;
}

@media screen and (min-width: 900px) {
  .popup.conf {
    top: auto;
    bottom: 0.5rem;
    right: 0.5rem;
    overflow: auto;
    width: max-content;
  }

  .popup.all {
    top: calc(25vh);
    left: calc(50vw - 13rem);
    overflow: auto;
    width: 26rem;
  }
}

/* hide */
.shadow {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #0f0f0f52;
}

.dnone {
  display: none;
}
